@model IEnumerable<Gym.Models.Client>

@{
    ViewData["Title"] = "Five";
}

<h1 class="text-center my-4">Five</h1>

<p class="text-center mb-5">Clientii care au mai puțin de @ViewData["SelectedAge"] ani</p>

<form asp-action="Five" method="get" class="text-center mb-4">
    <label for="age">Vârsta:</label>
    <input type="number" id="age" name="age" min="0" value="@ViewData["SelectedAge"]" required />
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
            </tr>
        }
    </tbody>
</table>
