@model IEnumerable<Gym.Models.Equipment>

@{
    ViewData["Title"] = "Ten";
}

<h1 class="text-center my-4">Ten</h1>

<p class="text-center mb-5">Echipamente în denumirea cărora se conține @ViewData["SelectedString"]</p>

<form asp-action="Ten" method="get" class="text-center mb-4">
    <label for="searchString">Șirul de caractere:</label>
    <input type="text" id="searchString" name="searchString" value="@ViewData["SelectedString"]" />
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuscleGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MuscleGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.Address)
                </td>
            </tr>
        }
    </tbody>
</table>
