@model Gym.Models.ViewModels.SubscriptionViewModel

@{
    ViewData["Title"] = "Subscription Details";
}

<h1>Subscription Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Started)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Started)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expires)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expires)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SubscriptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
