@model IEnumerable<Gym.Models.Subscription>

@{
    ViewData["Title"] = "Subscriptions";
}

<h1>Subscriptions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Started)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expires)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Started)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expires)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubscriptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubscriptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubscriptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
